a.act {
  background: transparent;
  border: transparent;
  color: #a3238e !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  background-image: none !important;
}

.tabStyles {
  color: black;
  font-weight: 1300;
  text-decoration: none;
  font-size: 18px;
}

.chemical-img {
  margin-left: 40px;
  margin-top: 5px;
  height: 130px;
  width: 80%;
}

.hover-outline:hover {
  outline: 2px solid #a3238e;
}

.btn-style {
  border-radius: 20px;
  background-color: #a3238e;
  border: none;
  padding: 4px 10px;
  margin-top: 10px !important;
}
.gap-element {
  margin-top: -20px;
}

.modal-content {
  border: 1px solid#A3238E !important;
  border-radius: 10px;
}

.card-style {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #a3238e;
  width: 70%;
  height: fit-content;
  border-radius: 20px;
  transform: 50%;
  margin-left: 25%;
  padding: 12px;
}

.card-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
.sub-text {
 color: rgb(82, 82, 82) !important;
}
